/* Mobile first queries */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Source Code Pro', monospace; */

html {
  overflow-x: hidden;
  font-size: 62.5%;
  /* (62.5/100) * 16px = 10px */
  -webkit-text-size-adjust: none;
  /* for iOS Safari */
  text-size-adjust: none;
  /* for other mobile browsers */
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
  color: #dddddd;
  font-family: "Source Code Pro", monospace;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-underline-position: under;
  /* Places underlines below the descenders */
  text-decoration-thickness: 8;
  /* Sets the thickness as a percentage of the font size */
}

:focus:not(:focus-visible) {
  outline: none;
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

/* BUTTONS START */
.primary-button {
  height: 3rem;
  border: none;
  outline: none;
  padding: 0 2rem;
  margin: 2rem 0;
  background-color: transparent;
  border: 1px solid #dddddd;
  color: #dddddd;
  font-family: "Roboto", sans-serif;
}

.primary-button:hover {
  background-color: #f05454;
  outline-color: #dddddd;
  transition: all 200ms;
  border: 1px solid #f05454;
}

/* BUTTONS END */

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  /* height: 100%; */
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  /* width: 100%;
  height: 100%; */
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  /* border: 1px solid #DDDDDD; */
}

.banner h1 {
  font-size: 2.7rem;
  /* text-align: left; */
  width: 100%;
}

.banner p {
  color: #f05454;
  width: 100%;
}

.banner span {
  color: #30475e;
}

.banner-button {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  /* border: 1px solid #DDDDDD; */
  margin-top: 2rem;
}

.banner-button button {
  /* width: 100%; */
  height: 3rem;
  border: none;
  outline: none;
  padding: 0 2rem;
  background-color: transparent;
  border: 1px solid #dddddd;
  color: #dddddd;
  font-family: "Roboto", sans-serif;
}

.banner-button button:hover {
  background-color: #f05454;
  outline-color: #dddddd;
  transition: all 200ms;
  border: 1px solid #f05454;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* border-bottom: 1px solid #30475E; */
  background-color: #222831;
  /* background-color: #DDDDDD; */
  padding: 0 2rem;
  height: 5rem;
  z-index: 1000;
}

.navbar-links {
  display: none;
}

.navbar-logo a {
  color: #f05454;
  text-decoration: none;
}

.navbar-logo p {
  color: #f05454;
  font-size: 2rem;
}

.hamburger-icon i {
  font-size: 2.5rem;
}

.hamburger-icon i:hover {
  color: #f05454;
  transition: 200ms;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* border: 1px solid white; */
}

.about h2 {
  color: #f05454;
}

.about-content-container {
  margin: 5rem 0;
}

.about-content-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3rem 0;
  border: 1px solid #30475e33;
  padding: 1rem;
  min-height: 12rem;
}

.about-content-div:hover {
  background-color: #222831;
  border: 1px solid #30475e;
  color: #f05454;
  /* transform: scale(1.005); */
  transition: all 200ms;
}

.about-content-div h3 {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
  font-weight: 500;
}

.about-content-div p {
  font-weight: 300;
  font-size: 1.5rem;
}

.about-skills,
.about-skills p {
  margin: 2rem 0;
}

.about-me-skill-container {
  width: 100%;
}

.about-me-pogression-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
}

.about-me-pogression-bar p:first-of-type {
  width: 10rem;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project h2 {
  color: #f05454;
}

.project-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  width: 100%;
}

.project-button {
  height: 4rem;
  min-width: 11.3rem;
  color: #dddddd;
  background-color: transparent;
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
}

.project-button-active {
  height: 4rem;
  min-width: 11.3rem;
  color: #dddddd;
  background-color: #30475e;
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3rem;
}

.projects-container-image {
  margin-bottom: 2.5rem;
  width: 33.7rem;
  height: 40rem;
  cursor: pointer;
}

.projects-container-image div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 30%,
    black 100%
  );
  color: #dddddd;
}

.projects-container-image div p {
  text-align: center;
}

/* FORM SECTION START */

.contact {
  width: 100%;
}

.contact h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #f05454;
}

.contact-text {
  margin-bottom: 3rem;
}

.contact-text p {
  text-align: justify;
}

.contact-form-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
  border: 1px solid #30475e;
  padding: 1rem;
}

.contact-form-container label,
.contact-form-container input {
  background-color: transparent;
  width: 100%;
}

.contact-form-container input {
  border: 1px solid #30475e;
  margin: 1rem 0;
  height: 3rem;
  padding-left: 1rem;
  outline: none;
  color: #dddddd;
}

.contact-form-container textarea {
  border: 1px solid #30475e;
  outline: none;
  background-color: #30475e;
  width: 100%;
  height: 15rem;
  margin-top: 1rem;
  color: #dddddd;
  padding: 1rem;
  font-size: 1.4rem;
}

.contact-form-container div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 2rem 0;
}

.contact-button {
  height: 4rem;
  min-width: 11.3rem;
  color: #dddddd;
  background-color: transparent;
  border: 1px solid #30475e;
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
}

.contact-button:hover {
  color: #dddddd;
  background-color: #30475e;
}

/* FORM SECTION END */

/* EXTRA CLASSES START */

.display-none {
  visibility: hidden;
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

/* EXTRA CLASSES END */

/* POGRESS BAR LOOADER START */
@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 60px 0;
  }
}

@keyframes auto-progress {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.progress-bar {
  background-color: #1a1a1a;
  height: 2rem;
  width: 220px;
  /* margin-right: 1rem; */
  box-shadow: 0 1px 5px #00000065 inset, 0 1px 0 #44444444;
}

.progress-bar-bgcolor {
  background-color: transparent;
}

.progress-bar-inner {
  display: block;
  height: 2rem;
  width: 0%;
  background-color: #f0545499;
  position: relative;
  animation: auto-progress 3000ms linear;
  animation-iteration-count: 1;
}

/* .progress-bar-inner {
  width: 100%;
} */
/* POGRESS BAR LOOADER END */

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
